.home {
    background: url('../../../../assets/imgs/GQYR5322_LE_magic_x4_creativity_99_resemblance_25.jpg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  
    .content {
      h1 {
        font-size: 3rem;
        font-weight: bold;
      }
  
      p {
        margin: 1rem 0;
      }
  
      .scroll-btn {
        color: #f4b41a;
        text-decoration: none;
        font-weight: bold;
        border: 1px solid #f4b41a;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        display: inline-block;
  
        &:hover {
          background: #f4b41a;
          color: #000;
        }
      }
    }
  }
